<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.foodondoor.delivery">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="com.foodondoor.delivery.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.tringtwentyfour.delivery.permission.C2D_MESSAGE" />


    <application
        android:name="com.foodondoor.delivery.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:fullBackupContent="@xml/backup_descriptor"
        tools:ignore="GoogleAppIndexingWarning">

        <service
            android:name="com.foodondoor.delivery.service.GPSTracker"
            android:enabled="true"
            android:exported="false"/>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <service
            android:name="com.foodondoor.delivery.service.GPSTrackerService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false" />

        <receiver android:name="com.foodondoor.delivery.helper.SmsReceiver"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <activity
            android:name="com.foodondoor.delivery.activities.Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.foodondoor.delivery.activities.Login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.foodondoor.delivery.activities.Home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.foodondoor.delivery.activities.ServiceFlow"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.foodondoor.delivery.activities.OTP"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.foodondoor.delivery.activities.ShiftStatus"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.foodondoor.delivery.activities.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.foodondoor.delivery.activities.OrderDetail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.foodondoor.delivery.activities.Dispute"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.foodondoor.delivery.activities.OrderHistory"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.foodondoor.delivery.activities.Others"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />


        <activity
            android:name="com.foodondoor.delivery.activities.NoticeBoard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.foodondoor.delivery.activities.TermsAndConditions"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- Firebase Notifications -->
        <service android:name="com.foodondoor.delivery.fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.foodondoor.delivery.fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <receiver android:name="com.foodondoor.delivery.receiver.NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3aef7a5b05836cf8166f23c95e43c52517bee917" />
    </application>

</manifest>